[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
python-decouple = "*"
cloudinary = "*"
django-environ = "*"
whitenoise = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
