{% extends 'base.html'%}

{% block content %}
<div class="container-fluid ml-4" style="color:black;">
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row mt-4 ml-4">
                <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/8308882/pexels-photo-8308882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="nyama choma pic " class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title" style="color:green;"><strong>We are making African Food Cool Again!</strong></h2>
                        <p class="card-text">
                           We are a small community of food lovers that came together to share our ancestors secret recipes.Did you know that African foods are the most delicious and nutritious.Yes,our ancestors had us set for life. Unlike modern foods that are full or calories and chemicals,our traditional african foods from vegetables to dried meats were will have you healthy and strong.  
                        </p>
                        <div>
                             <p>Here we share secret recipes and tricks to preparing healthy african foods.
                                 
                                From coast to the lakeside. We want to taste it all!!. 
                                </p>
                        </div>
                        <div>
                            Join us and let's share the secrets of Wakanda!
                        </div>
                       
                        <p class="card-text">
                            <small class="text-muted">By Admin</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>



    


</div>


{% endblock  %}