{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="color:black;">
    <h5 class="mt-4" style="color:black;"> Delete Recipe</h5>
    <p>Are you sure you want to delete {{recipe.name}}?</p>
    <img src="{{recipe.picture.url}}" alt=""> 
    <hr>
    <form action="{% url 'delete_recipe' recipe.id %}" method="POST" class="form-outline-4 "
        enctype="multipart/form-data">
        {% csrf_token %}
        <span><button type="submit" class="btn-danger btn-sm">
            Delete Recipe
        </button></span>  
        <span>
        <a href="{% url 'profile' %}" class="btn-warning btn-sm"> Cancel</a>  
        </span>
    </form>
</div>

{% endblock %}